*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Microsoft JhengHei';
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 8%;
    padding: 0 190px;
    display: flex;
    align-items: center;
    /* 固定於頂端 */
    position: fixed;
    top: 0px;
    overflow-y: hidden;
}
.head:hover{
    background-color: black;
    transition-duration: 0.5s; /* 效果呈現的速度 */
}
.headTxt{
    margin-left: 36px;
    font-size: 16px;
    padding-bottom: 8px;
}
.headTxt2{
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
}
sup{
    font-size: 1px;
}
a{
    text-decoration: none;
}
.headTxt a, .headTxt2 a{
    color: white
}
.headTxt a:hover, .headTxt2 a:hover{
    color: rgb(41, 204, 253);
}
.headRight{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}
.contents{
    width: 100%;
    height: 30%;
    background-color: #121215;
    color: #737d82;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    line-height: 25px;
}
.intro{
    width: 75%;
    margin: auto;
}
.foot{
    width: 100%;
    height: 110%;
    background-color: #323237;
}
.link{
    width: 75%;
    height: 92%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.left{
    width: 24%;
    padding-top: 91px;
}
.left a{
    color: #b9bcbf;
    font-size: 14px;
}
.downImg{
    margin-bottom: 55px;
}
.imgTxt{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.imgTxt img{
    margin-right: 8px;
}
.right{
    width: 20%;
    padding-top: 85px;
    font-size: 14px;
}
.right a{
    color: white;
}
.right a:hover{
    color: gray;
    text-decoration: underline;
}
.down{
    width: 75%;
    height: 8%;
    margin: auto;
    /* border: yellow solid 1px; */
}
.right ul li{
    list-style: none;
    padding: 0 0 10px 0;
}
ul li:nth-child(1){
    color: #737d82;
}
hr{
    background-color: #3f3f3f;
}
.copy{
    display: flex;
    padding-top: 25px;
    color: #888;
    font-size: 11px;
}
.law{
    margin-left: 25px;
}
.down a{
    color: #737d82;
}
.down a:hover{
    color: #b9bcbf;
    text-decoration: underline;
}
.area{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
select{
    border: none;
    background: transparent;
    color: white;
}