.content-in h2{
    color: slateblue;
}
.content-in:nth-child(1) h2{
    color: green;
}
.content-in:nth-child(4) p{
    color: blue;
}
span{
    color: red;
    font-size: 1.5em;
    text-decoration: underline;
}
p{
    text-decoration: underline;
}
.content-in:nth-child(3){
    background-color: #ffa;
}
.content:nth-child(2) .content-in:nth-child(2){
    background-color: #faa;
}
h2:hover{
    text-decoration: underline;
}
.content-in:nth-child(1) img{
    cursor: zoom-in;
}
.content-in:nth-child(2) img{
    cursor: zoom-out;
}
.content-in:nth-child(3) img{
    cursor: pointer;
}
.content-in:nth-child(4) img{
    cursor: no-drop;
}
.content:nth-child(2) .content-in:nth-child(1) img:hover{
    filter: opacity(0.5);
}