*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: Microsoft JhengHei;    
}
.wrapper{
    width: 1100px; /* 固定式直接給 px，%比較響應 */
    margin: auto;
    /* border: black solid 1px; */
    position: relative; /* ！！！ */
}
header{
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    display: flex;
    align-items: center;
    padding: 1.2% 5%;
    z-index: 1;
    position: absolute;
}
header ul{
    width: 35%;
}
header li{
    display: inline-block;
    padding-left: 5%;
}
header a{
    color: white;
    text-decoration: none;
}
.h_right{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.barger{
    display: flex;
    justify-content: center;
    align-items: center;
}
.neverForget{
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 35px 80px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, .3)
}
.chef{
    padding: 20px 20px 60px;
    display: flex;
    background-color: #efe9e7;
}
.intro{
    width: 500px;
    padding: 0px 0px 0px 50px;
    color: rgb(97, 59, 59);    
    line-height: 35px;
}
.introL{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.introR{
    text-align: justify;
}
.intro h3{
    font-weight: normal;
}
.costmus{
    padding: 20px;
    color: white;
    background-color: #3d1101;
}
.comment{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1% 3.5%;
    display: flex;
}
.person{
    width: 40%;
    display: flex;
}
.txt{
    display: flex;
    flex-grow: 1;
    padding-top: 25px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.txt h2{
    font-weight: normal;
    font-size: 22px;
}
.txt p{
    text-align: justify;
    margin-top: 40px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 25px;
}
.nickname{
    text-align: right;
    font-size: 18px;
}
.order{
    background-color: #fbfbfb;
    padding: 50px 50px 70px 0;
}
.ask{
    display: flex;
    justify-content: center;
    text-align: center;    
    color: #3d1101;
    margin-bottom: 40px;
}
.ask h2{
    font-weight: normal;
}
.direc{
    display: flex;
}
.form{
    width: 100%;
    padding: 30px 20px 20px 50px;
}
input:nth-child(-n+11){
    width: 100%;
    height: 40px;
    border: #85736ea2 solid 1px;
    border-radius: 6px;
    margin: 6.5px 0;
    outline: transparent;
}
.button{
    display: flex;
    justify-content: right;
}
button{
    width: 60px;
    height: 35px;
    margin-left: 3px;
    color: white;
    font-size: 14px;
    border: transparent;
    border-radius: 2px;
}
footer{
    padding: 20px 2%;
    background-color: #efe9e7;
    display: flex;
    color: #3d1101;
}
.one{
    width: 40%;
    padding-right: 110px;
}
.two{
    width: 20%;
}
.three{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
}
footer h2{
    font-weight: normal;
    padding-bottom: 4px;
}
footer a{
    margin-left: 7px;
}
.img{
    display: flex;
    margin-top: 5px;
}
.fa-google-plus-square{
    color: red;
}
.fa-twitter-square{
    color: deepskyblue;
}
.fa-facebook-square{
    color: blue;
}