*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    font-family: sans-serif;
}
.wrapper{
    width: 100%;
    height: 100%;
    /* border: rgb(41, 41, 41) solid 1px; */
}
.form{
    width: 65%;
    /* height: calc(100% - 20px); */
    margin: auto;
    margin-top: 20px;
    /* padding: 30px 40px; */
    border: gray solid 1px;
    background-color: rgb(36, 31, 31);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    height: 70px;
    margin-top: 30px;
    padding-left: 40px;
    border-bottom: gray dashed 1px;
}
.contents{
    padding: 30px 40px;
}
select{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
}
textarea{
    width: 97%;
    margin-top: 5px;
    margin-bottom: 15px;
}
.file{
    color: white;
    background-color: rgb(56, 56, 56);
    height: 45px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
p{
    color: rgb(255, 116, 116);
    margin-bottom: 15px;
}
hr{
    height: 3px;
    background: rgb(56, 56, 56);
    border: none;
}
.agree{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
a{
    color:rgb(255, 62, 62);
}
button{
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: rgb(255, 62, 62);
    background: rgb(41, 41, 41);
    border: rgb(255, 62, 62) solid 1px;
}
.button{
    display: flex;
    justify-content: center;
}