*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.bar{
    width: 100%;
    height: 55px;
    padding: 0 80px;
    display: flex;
    align-items: center;
}
.img{
    width: 9%;
    height: 100%;
}
.line{
    height: 45%;
    border-left: black solid 2px;
    margin-left: 5px;
}
.mic365{
    margin-left: 32px;
    margin-right: 28px;
    font-size: 18px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
select{
    height: 100%;
    border: none;
    margin-right: 30px;
    font-size: 18px;
}
select:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.buynow{
    font-size: 18px;
    font-weight: 900;
    border: black solid 1px;
    border-radius: 4px;
    padding: 4px;
}
.right{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;
}